In [78]:
import numpy as np
import pandas as pd

In [79]:
file_path = 'Income - Sheet1.csv' 
data = pd.read_csv(file_path)

print(data.head())

    Age Marital status   Income  Gender Expense_per_month
0  33.0        Married    23000    Male             22000
1  -2.0      Unmarried    50000    Male             42000
2  45.0      Unmarried    40000    Male             20000
3  20.0           Null      200  Female               220
4  15.0      Unmarried  unknown    Male             20000

In [80]:
# Check rows where all column values are null
all_null_rows = data[data.isnull().all(axis=1)]

# Display the rows with all null values
print("Rows with all null values:")
print(all_null_rows)

Rows with all null values:
    Age Marital status Income Gender Expense_per_month
10  NaN            NaN    NaN    NaN               NaN

In [81]:
# Drop rows where all column values are null
data = data.dropna(how='all')

# Display the updated DataFrame
print("Updated dataset after removing rows with all null values:")
print(data)

Updated dataset after removing rows with all null values:
        Age Marital status    Income  Gender Expense_per_month
0      33.0        Married     23000    Male             22000
1      -2.0      Unmarried     50000    Male             42000
2      45.0      Unmarried     40000    Male             20000
3      20.0           Null       200  Female               220
4      15.0      Unmarried   unknown    Male             20000
5      35.0        Married  -2222222    Male             #####
6      23.0        Married     40000  Female             40000
7      50.0            NaN   1000000    Male             50000
8      75.0        Married         0  Female              2000
9       0.0        Married     50000  Female             30000
11  10000.0        Married     20000    Male             20000
12     29.0      Unmarried     43500  Female             20000
13     46.0        Married     46000    Male             30000
14     79.0        Married         0    Male              2000
15     52.0        Married   2300000  Female            100000
16     18.0      Unmarried     25000    Male              1500

In [82]:
# Replace placeholders ('unknown', 'NULL', 'nan', '#####') with NaN in the specified columns
col = ['Age', 'Income', 'Expense_per_month']
data[col] = data[col].replace(['unknown', 'Null', 'NULL', 'nan', '#####'], pd.NA)

# Replace '0', negative values, and values greater than 1000 in 'Age' with NaN
for c in col:
    data[c] = pd.to_numeric(data[c], errors='coerce')  # Convert to numeric, invalid values become NaN
    if c == 'Age':
        data[c] = data[c].apply(lambda x: np.nan if x >= 100 or x <= 0 else x)
    else:
        data[c] = data[c].apply(lambda x: np.nan if x <= 0 else x)

# Print the dataset after replacing invalid values with NaN
print("Dataset after assigning NaN values for 'Age', 'Income', and 'Expense_per_month':")
print(data)

Dataset after assigning NaN values for 'Age', 'Income', and 'Expense_per_month':
     Age Marital status     Income  Gender  Expense_per_month
0   33.0        Married    23000.0    Male            22000.0
1    NaN      Unmarried    50000.0    Male            42000.0
2   45.0      Unmarried    40000.0    Male            20000.0
3   20.0           Null      200.0  Female              220.0
4   15.0      Unmarried        NaN    Male            20000.0
5   35.0        Married        NaN    Male                NaN
6   23.0        Married    40000.0  Female            40000.0
7   50.0            NaN  1000000.0    Male            50000.0
8   75.0        Married        NaN  Female             2000.0
9    NaN        Married    50000.0  Female            30000.0
11   NaN        Married    20000.0    Male            20000.0
12  29.0      Unmarried    43500.0  Female            20000.0
13  46.0        Married    46000.0    Male            30000.0
14  79.0        Married        NaN    Male             2000.0
15  52.0        Married  2300000.0  Female           100000.0
16  18.0      Unmarried    25000.0    Male             1500.0

In [83]:
# Replace various representations of missing values with NaN
data['Marital status'] = data['Marital status'].replace(['unknown', 'null', 'NULL', 'Null'], np.nan)
missing_values = data['Marital status'].isnull().sum()

print(data)

     Age Marital status     Income  Gender  Expense_per_month
0   33.0        Married    23000.0    Male            22000.0
1    NaN      Unmarried    50000.0    Male            42000.0
2   45.0      Unmarried    40000.0    Male            20000.0
3   20.0            NaN      200.0  Female              220.0
4   15.0      Unmarried        NaN    Male            20000.0
5   35.0        Married        NaN    Male                NaN
6   23.0        Married    40000.0  Female            40000.0
7   50.0            NaN  1000000.0    Male            50000.0
8   75.0        Married        NaN  Female             2000.0
9    NaN        Married    50000.0  Female            30000.0
11   NaN        Married    20000.0    Male            20000.0
12  29.0      Unmarried    43500.0  Female            20000.0
13  46.0        Married    46000.0    Male            30000.0
14  79.0        Married        NaN    Male             2000.0
15  52.0        Married  2300000.0  Female           100000.0
16  18.0      Unmarried    25000.0    Male             1500.0

In [84]:
#Mean Imputation as the data column are numerical

data['Age'] = data['Age'].fillna(data['Age'].mean())
data['Income'] = data['Income'].fillna(data['Income'].mean())
data['Expense_per_month'] = data['Expense_per_month'].fillna(data['Expense_per_month'].mean())

print(data)

     Age Marital status        Income  Gender  Expense_per_month
0   33.0        Married  2.300000e+04    Male            22000.0
1   40.0      Unmarried  5.000000e+04    Male            42000.0
2   45.0      Unmarried  4.000000e+04    Male            20000.0
3   20.0            NaN  2.000000e+02  Female              220.0
4   15.0      Unmarried  3.031417e+05    Male            20000.0
5   35.0        Married  3.031417e+05    Male            26648.0
6   23.0        Married  4.000000e+04  Female            40000.0
7   50.0            NaN  1.000000e+06    Male            50000.0
8   75.0        Married  3.031417e+05  Female             2000.0
9   40.0        Married  5.000000e+04  Female            30000.0
11  40.0        Married  2.000000e+04    Male            20000.0
12  29.0      Unmarried  4.350000e+04  Female            20000.0
13  46.0        Married  4.600000e+04    Male            30000.0
14  79.0        Married  3.031417e+05    Male             2000.0
15  52.0        Married  2.300000e+06  Female           100000.0
16  18.0      Unmarried  2.500000e+04    Male             1500.0

In [85]:
data['Marital status'] = data['Marital status'].fillna(data['Marital status'].mode()[0])

print(data)

     Age Marital status        Income  Gender  Expense_per_month
0   33.0        Married  2.300000e+04    Male            22000.0
1   40.0      Unmarried  5.000000e+04    Male            42000.0
2   45.0      Unmarried  4.000000e+04    Male            20000.0
3   20.0        Married  2.000000e+02  Female              220.0
4   15.0      Unmarried  3.031417e+05    Male            20000.0
5   35.0        Married  3.031417e+05    Male            26648.0
6   23.0        Married  4.000000e+04  Female            40000.0
7   50.0        Married  1.000000e+06    Male            50000.0
8   75.0        Married  3.031417e+05  Female             2000.0
9   40.0        Married  5.000000e+04  Female            30000.0
11  40.0        Married  2.000000e+04    Male            20000.0
12  29.0      Unmarried  4.350000e+04  Female            20000.0
13  46.0        Married  4.600000e+04    Male            30000.0
14  79.0        Married  3.031417e+05    Male             2000.0
15  52.0        Married  2.300000e+06  Female           100000.0
16  18.0      Unmarried  2.500000e+04    Male             1500.0

In [86]:
data = pd.get_dummies(data, columns=['Marital status'], drop_first=False)

print(data)

     Age        Income  Gender  Expense_per_month  Marital status_Married  \
0   33.0  2.300000e+04    Male            22000.0                    True
1   40.0  5.000000e+04    Male            42000.0                   False
2   45.0  4.000000e+04    Male            20000.0                   False
3   20.0  2.000000e+02  Female              220.0                    True
4   15.0  3.031417e+05    Male            20000.0                   False
5   35.0  3.031417e+05    Male            26648.0                    True
6   23.0  4.000000e+04  Female            40000.0                    True
7   50.0  1.000000e+06    Male            50000.0                    True
8   75.0  3.031417e+05  Female             2000.0                    True
9   40.0  5.000000e+04  Female            30000.0                    True
11  40.0  2.000000e+04    Male            20000.0                    True
12  29.0  4.350000e+04  Female            20000.0                   False
13  46.0  4.600000e+04    Male            30000.0                    True
14  79.0  3.031417e+05    Male             2000.0                    True
15  52.0  2.300000e+06  Female           100000.0                    True
16  18.0  2.500000e+04    Male             1500.0                   False

    Marital status_Unmarried
0                      False
1                       True
2                       True
3                      False
4                       True
5                      False
6                      False
7                      False
8                      False
9                      False
11                     False
12                      True
13                     False
14                     False
15                     False
16                      True

In [87]:
data = data.astype({ 'Marital status_Married': 'int', 'Marital status_Unmarried': 'int'})
print(data.head(5))

    Age         Income  Gender  Expense_per_month  Marital status_Married  \
0  33.0   23000.000000    Male            22000.0                       1
1  40.0   50000.000000    Male            42000.0                       0
2  45.0   40000.000000    Male            20000.0                       0
3  20.0     200.000000  Female              220.0                       1
4  15.0  303141.666667    Male            20000.0                       0

   Marital status_Unmarried
0                         0
1                         1
2                         1
3                         0
4                         1

In [88]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Standardize the 'Age' and 'Income' columns
data[['Age', 'Income', 'Expense_per_month']] = scaler.fit_transform(data[['Age', 'Income','Expense_per_month']])

print(data.head(5))

        Age    Income  Gender  Expense_per_month  Marital status_Married  \
0 -0.394249 -0.491353    Male          -0.194827                       1
1  0.000000 -0.443996    Male           0.643499                       0
2  0.281606 -0.461536    Male          -0.278659                       0
3 -1.126425 -0.531343  Female          -1.107764                       1
4 -1.408032  0.000000    Male          -0.278659                       0

   Marital status_Unmarried
0                         0
1                         1
2                         1
3                         0
4                         1

In [90]:
print("Prepocessed Dataset")
print(data)

Prepocessed Dataset
         Age    Income  Gender  Expense_per_month  Marital status_Married  \
0  -0.394249 -0.491353    Male          -0.194827                       1
1   0.000000 -0.443996    Male           0.643499                       0
2   0.281606 -0.461536    Male          -0.278659                       0
3  -1.126425 -0.531343  Female          -1.107764                       1
4  -1.408032  0.000000    Male          -0.278659                       0
5  -0.281606  0.000000    Male           0.000000                       1
6  -0.957462 -0.461536  Female           0.559666                       1
7   0.563213  1.222250    Male           0.978829                       1
8   1.971245  0.000000  Female          -1.033153                       1
9   0.000000 -0.443996  Female           0.140503                       1
11  0.000000 -0.496614    Male          -0.278659                       1
12 -0.619534 -0.455397  Female          -0.278659                       0
13  0.337928 -0.451012    Male           0.140503                       1
14  2.196530  0.000000    Male          -1.033153                       1
15  0.675855  3.502376  Female           3.074644                       1
16 -1.239068 -0.487845    Male          -1.054111                       0

    Marital status_Unmarried
0                          0
1                          1
2                          1
3                          0
4                          1
5                          0
6                          0
7                          0
8                          0
9                          0
11                         0
12                         1
13                         0
14                         0
15                         0
16                         1